<div class="post_meta">
  {{/*  {{- with .Params.tags -}}
    {{- range . }}
    {{- $tag := urlize . }}
    <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="post_tag button button_translucent">
      {{- . }}
    </a>
  {{- end }}
  {{- end }}
  {{- with .Params.languages -}}
    {{- range . }}
    {{- $tag := urlize . }}
    <a href='{{ absLangURL (printf "languages/%s" $tag) }}' class="post_tag button button_translucent">
      {{- . }}
    </a>
  {{- end }}
  {{- end }}  */}}
</div>
<div class="post_meta">
      {{ $s := .Site.Params }}

    {{- $tagsLimit := (default 100 $s.numberOfTagsShown) }}
    {{- range $key, $value := .Site.Taxonomies }}
    {{- if gt $value 0 }}
    <div>
      <h3 class="taxonomy" id="{{ $key }}-section">{{ $key }}
      </h3>
        {{- $onPageTags := $.Page.Params.tags }}
        {{- $slicedTags := ($value.ByCount | first $tagsLimit) }}
        {{- range $slicedTags }}
        <a href='/{{$key}}/{{ (replace .Name "#" "%23") | urlize }}/' class="post_tag button button_translucent">
          {{ .Name }}
        </a>
        {{ end }}
    </div>
    {{- end }}
    {{- end }}
</div>
