    {{ $s := .Site.Params }}

    {{- $tagsLimit := (default 100 $s.numberOfTagsShown) }}
    {{- range $key, $value := .Site.Taxonomies }}
    {{- if gt $value 0 }}
    <div>
      <h2 class="mt-4 taxonomy" id="{{ $key }}-section">{{ $key }}</h2>
      <nav class="tags_nav">
        {{- $onPageTags := $.Page.Params.tags }}
        {{- $slicedTags := ($value.ByCount | first $tagsLimit) }}
        {{- range $slicedTags }}
        <a href='/{{$key}}/{{ (replace .Name "#" "%23") | urlize }}/' class="post_tag button button_translucent">
          {{ upper .Name }}
          <span class="button_tally"> ({{ .Count }})</span>
        </a>
        {{ end }}
      </nav>
    </div>
    {{- end }}
    {{- end }}